<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.dao.CompletemachineMapper">
	<resultMap id="BaseResultMap" type="com.dayuan.bean.Completemachine">
		<id column="id" property="id" />
		<result column="sapNo" property="sapNo" jdbcType="VARCHAR" />
		<result column="completeMachineVersion" property="completeMachineVersion"
			jdbcType="VARCHAR" />
		<result column="completeMachineName" property="completeMachineName"
			jdbcType="VARCHAR" />
		<result column="createPerson" property="createPerson" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
		<result column="revisedRecord" property="revisedRecord"
			jdbcType="VARCHAR" />
	</resultMap>

	<!-- <resultMap id="JoinResultMap" type="com.dayuan.bean.Completemachine" 
		> <id column="id" property="id" /> <result column="sapNo" property="sapNo" 
		jdbcType="VARCHAR" /> <result column="completeMachineVersion" property="completeMachineVersion" 
		jdbcType="VARCHAR" /> <result column="completeMachineName" property="completeMachineName" 
		jdbcType="VARCHAR" /> <result column="createPerson" property="createPerson" 
		jdbcType="VARCHAR" /> <result column="updateTime" property="updateTime" jdbcType="VARCHAR" 
		/> <result column="revisedRecord" property="revisedRecord" jdbcType="VARCHAR" 
		/> </resultMap> -->

	<sql id="Base_Column_List">
		id,sapNo, completeMachineVersion, completeMachineName, createPerson,
		updateTime, revisedRecord
	</sql>

	<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tbl_business_completemachine
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="queryAllName" resultType="java.lang.String">
		select
		completeMachineName
		from tbl_business_completemachine
		where sapNo = #{keys}
	</select>
	<select id="queryList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_business_completemachine
		where sapNo=#{keys}
		<if test="completeName !=null">
			and <![CDATA[ completeMachineName like CONCAT('%',#{completeName},'%')  ]]>
		</if>
		ORDER BY updateTime desc LIMIT #{curPage},#{pageSize}
	</select>
	<select id="queryRecordCount" resultType="java.lang.Integer">
		select
		count(1)
		from tbl_business_completemachine
		where sapNo=${keys}
		<if test="completeName != null">
			and <![CDATA[ completeMachineName like CONCAT('%',#{completeName},'%')  ]]>
		</if>
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from tbl_business_completemachine
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="add" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.dayuan.bean.Completemachine">
		insert into tbl_business_completemachine (sapNo, completeMachineVersion,
		completeMachineName,
		createPerson, updateTime, revisedRecord
		)
		values (#{sapNo,jdbcType=VARCHAR},
		#{completeMachineVersion,jdbcType=VARCHAR},
		#{completeMachineName,jdbcType=VARCHAR},
		#{createPerson,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
		#{revisedRecord,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="addBySelective" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.dayuan.bean.Completemachine">
		insert into tbl_business_completemachine
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sapNo != null">
				sapNo,
			</if>
			<if test="completeMachineName != null">
				completeMachineName,
			</if>
			<if test="completeMachineVersion != null">
				completeMachineVersion,
			</if>
			<if test="createPerson != null">
				createPerson,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
			<if test="revisedRecord != null">
				revisedRecord,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sapNo != null">
				#{sapNo,jdbcType=VARCHAR},
			</if>
			<if test="completeMachineName != null">
				#{completeMachineName,jdbcType=VARCHAR},
			</if>
			<if test="completeMachineVersion != null">
				#{completeMachineVersion,jdbcType=VARCHAR},
			</if>
			<if test="createPerson != null">
				#{createPerson,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=DATE},
			</if>
			<if test="revisedRecord != null">
				#{revisedRecord,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateBySelective" parameterType="com.dayuan.bean.Completemachine">
		update tbl_business_completemachine
		<set>
			<if test="sapNo != null">
				sapNo = #{sapNo,jdbcType=VARCHAR},
			</if>
			<if test="completeMachineName != null">
				completeMachineName = #{completeMachineName,jdbcType=VARCHAR},
			</if>
			<if test="completeMachineVersion != null">
				completeMachineVersion = #{completeMachineVersion,jdbcType=VARCHAR},
			</if>
			<if test="createPerson != null">
				createPerson = #{createPerson,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=DATE},
			</if>
			<if test="revisedRecord != null">
				revisedRecord = #{revisedRecord,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateById" parameterType="com.dayuan.bean.Completemachine">
		update tbl_business_completemachine
		set sapNo = #{sapNo,jdbcType=VARCHAR},
		completeMachineName = #{completeMachineName,jdbcType=VARCHAR},
		completeMachineVersion = #{completeMachineVersion,jdbcType=VARCHAR},
		createPerson = #{createPerson,jdbcType=VARCHAR},
		updateTime = #{updateTime,jdbcType=DATE},
		revisedRecord = #{revisedRecord,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>