<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayuan.dao.CompletemachinedetailMapper" >
  <resultMap id="BaseResultMap" type="com.dayuan.bean.Completemachinedetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="compleId" property="compleId" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
   <result column="materielNo" property="materielNo" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="JoinResultMap" type="com.dayuan.bean.Completemachinedetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="compleId" property="compleId" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
  <association property="materielNo" column="materielNo" javaType="com.dayuan.bean.Materiel" resultMap="com.dayuan.dao.MaterielMapper.JoinMaterielMaper"/>
  </resultMap>
   
   <resultMap id="exportResultMap" type="com.dayuan.bean.ExportCircuitBoard" >
	    <result column="materielNo" property="materielNo" />
	    <result column="materielName" property="materielName" />
	    <result column="modelSpecification" property="modelSpecification" />
	    <result column="footprint"  property="footprint" />
	    <result column="quantity" property="quantity" jdbcType="INTEGER" />
	    <result column="comments" property="comments" jdbcType="VARCHAR" />
    </resultMap>
   
  <sql id="Base_Column_List" >
    id,compleId, materielNo, quantity, updateTime,comments
  </sql>
  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_business_completemachinedetail
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="queryByBoardId" resultMap="JoinResultMap" parameterType="java.lang.Integer" >
   select 
    com.*,ma.*,t.*
    from tbl_business_completemachinedetail com 
    left join tbl_business_materiel ma on com.materielNo=ma.materielNo
     join tbl_business_materietype t on ma.materielTypeId=t.materielTypeId
    where com.compleId = #{completeId,jdbcType=INTEGER} 
     <if test="keys != null" >
        and ( <![CDATA[ com.materielNo like CONCAT('%',#{keys},'%')  ]]>
         or <![CDATA[ ma.materielName like CONCAT('%',#{keys},'%')  ]]>)
      </if>
     ORDER BY com.updateTime desc LIMIT #{curPage},#{pageSize} 
  </select>
   <select id="queryRecordCount" resultType="java.lang.Integer">
   select 
   count(1)
    from tbl_business_completemachinedetail  com 
    left join tbl_business_materiel ma on com.materielNo=ma.materielNo
    where com.compleId = #{completeId,jdbcType=INTEGER} 
     <if test="keys != null" >
         and (<![CDATA[ com.materielNo like CONCAT('%',#{keys},'%')  ]]>
         or <![CDATA[ ma.materielName like CONCAT('%',#{keys},'%')  ]]> )
      </if>
  </select>
  
   <select id="queryAllByBoardId" resultType="java.lang.String" parameterType="java.lang.Integer" >
	    select 
	 	 cDetail.materielNo
	    from tbl_business_completemachinedetail cDetail 
	    where compleId = #{completeId,jdbcType=INTEGER} ORDER BY updateTime desc
  </select>
  
   <!-- <select id="queryBySapNoList" resultMap="exportResultMap">
 	select m.materielNo as materielNo , m.materielName as materielName,
 	 m.modelSpecification as modelSpecification, m.footprint as footprint,cird.quantity as quantity, cird.comments as comment 
 	 from tbl_business_completemachinedetail  cird left join tbl_business_materiel m on cird.materielNo=m.materielNo 
    where cird.materielNo in 
     <foreach collection="list" item="materielNo" index="index" open="(" separator="," close=")" >
    #{materielNo}
    </foreach>
    ORDER BY cird.updateTime desc
  </select> -->
  <select id="queryByCompleteIdList" resultMap="exportResultMap">
 	select m.materielNo as materielNo , m.materielName as materielName,
 	 m.modelSpecification as modelSpecification, m.footprint as footprint,cird.quantity as quantity, cird.comments as comment 
 	 from tbl_business_completemachinedetail  cird left join tbl_business_materiel m on cird.materielNo=m.materielNo 
    where cird.compleId= #{completeId}
    ORDER BY cird.updateTime desc
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from tbl_business_completemachinedetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
 
  <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.dayuan.bean.Completemachinedetail" >
   insert into tbl_business_completemachinedetail ( compleId, materielNo,quantity,updateTime,comments)
   values (#{compleId,jdbcType=INTEGER},  #{materielNo.materielNo,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER},#{updateTime},#{comments,jdbcType=VARCHAR})
  </insert>
  
   <insert id="addList"   parameterType="java.util.HashMap" >
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
    select LAST_INSERT_ID()
    </selectKey>
     insert into tbl_business_completemachinedetail (id,compleId, materielNo,updateTime,comments)
    values
     <foreach collection="list" item="cirdetail" index="index" separator=",">
     (#{cirdetail.id,jdbcType=INTEGER}, #{cirdetail.compleId,jdbcType=INTEGER},  #{cirdetail.materielNo.materielNo,jdbcType=VARCHAR},#{cirdetail.updateTime},#{cirdetail.comments})<!-- #{cirdetail.circuitId.id}, #{cirdetail.materielNo.materielNo} -->
      </foreach>
     
  </insert>
  
  <insert id="addBySelective" useGeneratedKeys="true" keyProperty="id"  parameterType="com.dayuan.bean.Completemachinedetail" >
  insert into tbl_business_completemachinedetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compleId != null" >
        compleId,
      </if>
      <if test="materielNo != null" >
        materielNo,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
       <if test="comments != null" >
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compleId != null" >
        #{compleId,jdbcType=INTEGER},
      </if>
      <if test="materielNo != null" >
        #{materielNo,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
        <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
       <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
  <update id="updateBySelective" parameterType="com.dayuan.bean.Completemachinedetail" >
   update tbl_business_completemachinedetail
    <set >
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
       <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=DATE},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateById" parameterType="com.dayuan.bean.Completemachinedetail" >
     update tbl_business_completemachinedetail
    set compleId = #{compleId,jdbcType=INTEGER},
      materielNo = #{materielNo,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=DATE},
       comments = #{comments,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>