<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net  
           http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<mapping>
		<class-a>com.dayuan.bean.MaterieType</class-a>
		<class-b>com.dayuan.dto.MaterieTypeDTO</class-b>

		<field>
			<a>materielTypeId</a>
			<b>materielTypeId</b>
		</field>
		<field>
			<a>materielTypeName</a>
			<b>materielTypeName</b>
		</field>

	</mapping>
</mappings>  

