<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net  
           http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<mapping>
		<class-a>com.dayuan.bean.Shippingrecords</class-a>
		<class-b>com.dayuan.dto.ShippingrecordsDTO</class-b>
		<field>
			<a>id</a>
			<b>id</b>
		</field>
		<field>
			<a>sapNo</a>
			<b>sapNo</b>
		</field>
		<field>
			<a>customer</a>
			<b>customer</b>
		</field>


		<field>
			<a>quantity</a>
			<b>quantity</b>
		</field>
		<field>
			<a>instrumentFuselage</a>
			<b>instrumentFuselage</b>
		</field>
		<field>
			<a>inspectionDate</a>
			<b>inspectionDate</b>
		</field>
		<field>
			<a>inspectionMan</a>
			<b>inspectionMan</b>
		</field>
		
			<field>
			<a>shippingDate</a>
			<b>shippingDate</b>
		</field>
		<field>
			<a>updateTime</a>
			<b>updateTime</b>
		</field>
		<field>
			<a>comments</a>
			<b>comments</b>
		</field>
		
		<!-- <field>
			<a>repairList</a>
			<b>repairList</b>
		</field> -->
	</mapping>
</mappings>  

