<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net  
           http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<mapping>
		<class-a>com.dayuan.bean.PackingListDetail</class-a>
		<class-b>com.dayuan.dto.PackingListDetailDTO</class-b>

		<field>
			<a>id</a>
			<b>id</b>
		</field>
		<field>
			<a>packId</a>
			<b>packId</b>
		</field>
		<field>
			<a>sapNo</a>
			<b>sapNo</b>
		</field>


		<field>
			<a>packingListVersion</a>
			<b>packingListVersion</b>
		</field>
		<field>
			<a>materielNo</a>
			<b>materielNo</b>
		</field>
		<field>
			<a>quantity</a>
			<b>quantity</b>
		</field>
		<field>
		  <a>updateTime</a>
		  <b>updateTime</b>
		</field>
		<field>
			<a>comments</a>
			<b>comment</b>
		</field>
	</mapping>
</mappings>  

