.main-content.users {
  .page-content {
 
    .modal .rights {
      padding: 20px;
      border-bottom: 1px solid $gray-lighter;

      h5 {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }
  }
}